<%= form_with url: search_users_path, method: :post do |form| %>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <%= form.label "Search Your Name " %>
                <%= form.search_field :name_search, class: "form-control", oninput: "this.form.requestSubmit()" %>
            </div>
        </div>
    </div>
<% end %>
